.loading {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.table {
  border-collapse: collapse;
  width: 50vw;

  @media (max-width: 600px) {
    width: 80vw;
  }

  @media (min-width: 1800px) {
    width: 1020px;
  }

  &__header,
  &__square {
    font-size: 13px;

    @media (max-width: 600px) {
      font-size: 10px;
    }
  }

  &__header {
    padding: 5px 0;
    color: #e3a752;
    text-align: center;
    border: 0;

    &#team {
      text-align: left;
      padding-left: 5px;
      width: 40%;
    }
  }

  &__square {
    padding: 8px 0;
    color: white;
    text-align: center;
    border: 1px solid #facfcf70;

    &#name {
      text-align: left;
      padding-left: 5px;
      width: 40%;
    }
  }
}
