form {
  display: flex;
  width: 1020px;
  input {
    cursor: pointer;
    padding: unset;
    height: 44px;
    width: 100%;
    border-radius: 50px;
    border: none;
    text-align: center;
    margin-right: 5px;
    background-color: #fff;
    :focus {
      cursor: pointer;
    }
  }
  button {
    cursor: pointer;
    outline: none;
    padding: unset;
    background-size: 50% 50%;
    border: none;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 100%;
    flex-shrink: 0;
    img {
      height: 30px;
      width: 30px;
    }
  }
}
