.left {
  height: fit-content;

  &__buttons {
    border-bottom: 3px solid white;

    button {
      border: 0;
      background-color: white;
      width: 150px;
      padding: 5px 0;
      border-radius: 5px 5px 0 0;
      color: #1559b3;
      font-size: 18px;
      cursor: pointer;
    }
  }

  &__table {
    overflow-y: scroll;
    height: 55vh;
    width: fit-content;

    &::-webkit-scrollbar {
      height: 0;
    }

    table {
      border-collapse: collapse;

      th,
      td {
        @media (max-width: 600px) {
          padding: 0;
        }
      }

      th {
        padding: 2px 2vw 0 0.5vw;
        color: #e3a752;
        text-align: left;
      }

      td {
        padding: 8px 2vw 8px 0.5vw;
        color: white;
      }
    }
  }
}
